[submodule "firmware/components/micropython/micropython"]
	path = external/micropython
	url = https://github.com/micropython/micropython.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "firmware/python_modules/micropython-lib"]
	path = python_modules/micropython-lib
	url = https://github.com/micropython/micropython-lib
[submodule "firmware/components/driver_mch22/esp32-component-mch2022-rp2040"]
	path = components/driver_mch22/esp32-component-mch2022-rp2040
	url = https://github.com/badgeteam/esp32-component-mch2022-rp2040.git
[submodule "firmware/components/driver_display_ili9341/esp32-component-spi-ili9341"]
	path = components/driver_display_ili9341/esp32-component-spi-ili9341
	url = https://github.com/Nicolai-Electronics/esp32-component-spi-ili9341.git
[submodule "components/driver_mch22/esp32-component-spi-ice40"]
	path = components/driver_mch22/esp32-component-spi-ice40
	url = https://github.com/Nicolai-Electronics/esp32-component-spi-ice40.git
[submodule "components/driver_mch22/esp32-component-mch2022-rp2040"]
	path = components/driver_mch22/esp32-component-mch2022-rp2040
	url = https://github.com/badgeteam/esp32-component-mch2022-rp2040.git
[submodule "external/opus"]
	path = external/opus
	url = https://gitlab.xiph.org/xiph/opus/
